$color-titulo: #ffffff;
$color-texto: #060A24;
$color-bg: #0000A3;
$color-bg-segundo: #0000FF;
$color-bg-input: #00F3BB;
$color-bg-nav-mobile: #0000EC;
$gradiente-sumit: -webkit-linear-gradient(0deg,
#00F0B8,
#0000FE,
);